{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    Connect yourself as a <a href="{{ path('candidat') }}"> candidate </a> <br>
    if you have already created your account <a href="{{ path('app_login') }}"> LogIn</a> <br>

{% endblock %}
